@model EjercicioMVC.Models.Persona

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Persona</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <section class="col col-6">
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" required class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                </section>
                <section class="col col-6">
                    <div class="form-group">
                        <label asp-for="Apellido" class="control-label"></label>
                        <input asp-for="Apellido" required class="form-control" />
                        <span asp-validation-for="Apellido" class="text-danger"></span>
                    </div>
                </section>
                <section class="col col-6">
                    <div class="form-group">
                        <label asp-for="Cedula" class="control-label"></label>
                        <input asp-for="Cedula" required class="form-control" />
                        <span asp-validation-for="Cedula" class="text-danger"></span>
                    </div>
                </section>
                <section class="col col-6">
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" required class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                </section>
                <section class="col col-6">
                    <div class="form-group">
                        <label asp-for="Genero" class="control-label"></label>
                        <input asp-for="Genero" required class="form-control" />
                        <span asp-validation-for="Genero" class="text-danger"></span>
                    </div>
                </section>
            </div>
        </form>
    </div>
</div>
<div class="form-group">
    <input type="submit" value="Crear" class="btn btn-primary" />
</div>
<div>
    <a asp-action="Index">Regresar a Lista</a>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}